# ignore confidential stuff
secrets.yaml

# ignore database
home-assistant.log*
home-assistant_*

# ignore generic folder
.cloud
.storage

# ignore specific folder
tts
custom_components
www
backups
image
themes

example
blueprints/automation/homeassistant/notify_leaving_zone.yaml
blueprints/automation/homeassistant/motion_light.yaml
blueprints/script/homeassistant/confirmable_notification.yaml
blueprints/template/homeassistant/invertes_binary_sensor.yaml